/ReportesGE/nbproject/private/
/GrupoEmpresarial-ejb/build/
/GrupoEmpresarial-ejb/dist/
/GrupoEmpresarial-war/dist/
/dist/
/GrupoEmpresarial-ejb/nbproject/private/
/GrupoEmpresarial-war/build/
/build/