/* 
    Author     : srojasm
*/

.etiquetaLista{
    display: block;
    width: 140px;
    text-align: right;
    padding-right: 10px;
}

.etiquetaFormulario{
    display: block;
    text-align: right;
    padding-right: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.valorEtiquetaFormulario{
    width: 320px;
}

.cajaPiePagina{
    font-size: 0.8em;
    margin: 0px!important;
    padding: 0px!important;
    border: medium none;
}