/* 
    Author     : srojasm
*/

.etiquetaLista{
    display: block;
    width: 140px;
    text-align: right;
    padding-right: 10px;
}

.etiquetaFormulario{
    display: block;
    text-align: right;
    padding-right: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 300px;
}
.valorEtiquetaFormulario{
    width: 420px;
}

.etiquetaFormularioReporte{
    float: right;
    font-weight: bold;
    text-align: left;
    width: 50%;
}
.valorEtiquetaFormularioReporte{
    text-align: left;
    width: 50%;
}

.etiquetaFormularioAdministracion{
    display: block;
    text-align: right;
    padding-right: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.cajaPiePagina{
    font-size: 0.8em;
    margin: 0px!important;
    padding: 0px!important;
    border: medium none;
}

.ui-widget-overlay {
    background: #484848 none repeat scroll 0 0;
    opacity: 0.8;
}

.hide-column-names table thead tr {
    display: none;
}

/*
.ui-wizard-nav-back{
    color: blue !important;
}
.ui-wizard-nav-next{

}
*/
