/* 
    Author     : srojasm
*/
@font-face {
    /*font-family: 'DeliciousRoman';
    src: url("#{resource['font/Delicious-Roman.otf']}");
    src: url('../font/Delicious-Roman.otf');*/
}

body{
    font-family: Sans-Serif, Arial, Helvetica; 
    font-size: 0.8em;
}

