/* 
    Author     : srojasm
*/
@font-face {
    font-family: 'open-sans';
    src: url("#{resource['font:open-sans/OpenSans-Regular.ttf']}&v=1.1");
}

html{
    font-size: 0.8em !important;
}
.ui-widget, .ui-widget .ui-widget {
    font-family: Sans-Serif,open-sans, Arial, Helvetica !important;
}

.ui-wizard-step-title{
    font-size: 1.0em !important;
}

#top {
    position: relative;
    background-color: #ffffff;
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

#bottom {
    position: center;
    background-color: #a91155;
    color: white;
    padding: 5px;
    margin: 100px 0px 0px 0px;
}
