/* 
    Author     : srojasm
*/

/* Titulo de tamaño H1*/
.titulo-left-h1{
    width: 100%;
    text-align: left;
    display: block;
    font-size: 2em!important;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    /*font-family: open-sans-bold,Sans-Serif, Arial, Helvetica !important;*/
    font-weight: bold;
    color: #b6014c;
}
.titulo-right-h1{
    width: 100%;
    text-align: right;
    display: block;
    font-size: 2em!important;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    /*font-family: open-sans-bold,Sans-Serif, Arial, Helvetica !important;*/
    font-weight: bold;
    color: #b6014c;
}
.titulo-center-h1{
    width: 100%;
    text-align: center;
    display: block;
    font-size: 2em!important;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    /*font-family: open-sans-bold,Sans-Serif, Arial, Helvetica !important;*/
    font-weight: bold;
    color: #b6014c;
}
/* Titulo de tamaño H2*/
.titulo-left-h2{
    width: 100%;
    text-align: left;
    display: block;
    font-size: 1.5em!important;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    /*font-family: open-sans-bold,Sans-Serif, Arial, Helvetica !important;*/
    font-weight: bold;
    color: #b6014c;
}
.titulo-right-h2{
    width: 100%;
    text-align: right;
    display: block;
    font-size: 1.5em!important;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    /*font-family: open-sans-bold,Sans-Serif, Arial, Helvetica !important;*/
    font-weight: bold;
    color: #b6014c;
}
.titulo-center-h2{
    width: 100%;
    text-align: center;
    display: block;
    font-size: 1.5em!important;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    /*font-family: open-sans-bold,Sans-Serif, Arial, Helvetica !important;*/
    font-weight: bold;
    color: #b6014c;
}
/* Titulo de tamaño H3*/
.titulo-left-h3{
    width: 100%;
    text-align: left;
    display: block;
    font-size: 1.17em!important;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    /*font-family: open-sans-bold,Sans-Serif, Arial, Helvetica !important;*/
    font-weight: bold;
    color: #b6014c;
}
.titulo-right-h3{
    width: 100%;
    text-align: right;
    display: block;
    font-size: 1.17em!important;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    /*font-family: open-sans-bold,Sans-Serif, Arial, Helvetica !important;*/
    font-weight: bold;
    color: #b6014c;
}
.titulo-center-h3{
    width: 100%;
    text-align: center;
    display: block;
    font-size: 1.17em!important;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    /*font-family: open-sans-bold,Sans-Serif, Arial, Helvetica !important;*/
    font-weight: bold;
    color: #b6014c;
}

.texto-centrado{
    display: block;
    width: 100%;
    text-align: center;
}
.texto-izquierda{
    text-align: left;
}
.texto-derecha{
    text-align: right;
}

/* TITULO mensaje dialog*/
.ui-dialog-title {
    font-size: 1.2em !important;
}